<%# <html> %>
<%- include('00a-header.ejs') %>
    <div class = "container">
      <h1>Main screen</h1>
      <p>My name is Tamás Solymos</p>
      <p>And this is what I have learned so far</p>
      <p>I started studying by myself in 2021 january. blabla</p>
      <h2>about the site</h2>
      <p>Backend with Node.js. List of npm-s used: Express, fs, templating language is EJS</p>
      
      <h1>About me page</h1>
      <p>BME: scientific minded</p>

      <div class = "row">
        <div class = "article-summary col-lg-4 col-sm-6">
          <a href = "/snake"><img class = "img-fluid img-border" src = "/images/screenshots/snake.jpg"></a>
          <a href = "/snake"><h3>Snake</h3></a>
          <p>In-browser version of the classic snake game, created with native JavaScript.</p>
        </div>

        <div class = "article-summary col-lg-4 col-sm-6">
          <a href = "/"><img class = "img-fluid img-border" src = "/images/screenshots/db-placeholder.webp"></a>
          <a href = "/"><h3>Something else</h3></a>
          <p>This is some other application I will develop soon. It will be awesome, I promise. I know everyone says the same, but trust me. It will be mindblowing. Or maybe not who knows.</p>
        </div>

        <div class = "article-summary col-lg-4 col-sm-6">
          <a href = "/"><img class = "img-fluid img-border" src = "/images/screenshots/db-placeholder.webp"></a>
          <a href = "/"><h3>Something else</h3></a>
          <p>This is some other application I will develop soon. It will be awesome, I promise. I know everyone says the same, but trust me. It will be mindblowing. Or maybe not who knows.</p>
        </div>

        <div class = "article-summary col-lg-4 col-sm-6">
          <a href = "/"><img class = "img-fluid img-border" src = "/images/screenshots/db-placeholder.webp"></a>
          <a href = "/"><h3>Something else</h3></a>
          <p>This is some other application I will develop soon. It will be awesome, I promise. I know everyone says the same, but trust me. It will be mindblowing. Or maybe not who knows.</p>
        </div>

        <div class = "article-summary col-lg-4 col-sm-6">
          <a href = "/"><img class = "img-fluid img-border" src = "/images/screenshots/db-placeholder.webp"></a>
          <a href = "/"><h3>Something else</h3></a>
          <p>This is some other application I will develop soon. It will be awesome, I promise. I know everyone says the same, but trust me. It will be mindblowing. Or maybe not who knows.</p>
        </div>

        <div class = "article-summary col-lg-4 col-sm-6">
          <a href = "/"><img class = "img-fluid img-border" src = "/images/screenshots/db-placeholder.webp"></a>
          <a href = "/"><h3>Something else</h3></a>
          <p>This is some other application I will develop soon. It will be awesome, I promise. I know everyone says the same, but trust me. It will be mindblowing. Or maybe not who knows.</p>
        </div>


      </div>
    </div>
<%- include('00b-footer.ejs') %>
<%# </html> %>