<%# <html> %>
<%- include('00a-header.ejs') %>
    <div class = "container">
      <h1>about me</h1>
      <p>Picture</p>
      <p>University</p>
      <p>Chem eng</p>
      <p>Hobbies</p>
            <!-- <p>BME: scientific minded</p> -->

        


      </div>
    </div>
<%- include('00b-footer.ejs') %>
<%# </html> %>