<%# <html> %>
<%- include('00a-header.ejs') %>
    <div class = "container">
      <h2>Blog</h2>
      <p><a href = "/blog/editor/">Editor</a></p>
      <p><a href = "/blog/article/">Display a post</a></p>            
    </div>
<%- include('00b-footer.ejs') %>
<%# </html> %>