<%# <html> %>
<%- include('00a-header.ejs') %>
    <div class = "container">
      <h1>contact</h1>
      
            <!-- <p>BME: scientific minded</p> -->

        


      </div>
    </div>
<%- include('00b-footer.ejs') %>
<%# </html> %>