<%# <html> %>
<%- include('00a_header.ejs') %>
    <div class = "container">
      <h1>contact</h1>
      <form id = "contact" name = "contact" action = "/contact/submit/" onsubmit = "return validateForm(event)" method = "POST">
          <div class = "form-group row">
            <label for = "contactname" class = "col-sm-2 col-form-label">Name</label>
            <div class = "col-sm-10">
              <input name = "contactname" id = "contactname" type = "text" class = "form-control" placeholder = "Name">
            </div>
          </div>

          <div class = "form-group row">
            <label for = "contactcompany" class = "col-sm-2 col-form-label">Company</label>
            <div class = "col-sm-10">
              <input name = "contactcompany" id = "contactcompany" type = "text" class = "form-control" placeholder = "Company">
            </div>
          </div>

          <div class = "form-group row">
            <label for = "contactmail" class = "col-sm-2 col-form-label">E-mail</label>
            <div class = "col-sm-10">
              <input name = "contactmail" id = "contactmail" type = "text" class = "form-control" placeholder = "E-mail">
            </div>
          </div>
  
          <div class = "form-group row">
            <label for = "contactmessage" class = "col-sm-2 col-form-label">Message</label>
            <div class = "col-sm-10">
              <textarea name = "contactmessage" id = "contactmessage" class = "form-control" rows = "6" placeholder = "Message" ></textarea>
            </div>
          </div>

          <div class = "form-group row justify-content-end">
            <div class = "col-4 col-sm-3 col-lg-2">
              <button type = "submit" form = "contact" value = "submit" class = "btn btn-basic btn-block">Send</button>
            </div>
          </div>
      </form>

      
      </div>
    </div>
<%- include('00b-_footer.ejs') %>
<%# </html> %>

