:root {
  /* universal colors */

  --color-bg-1: #f2f8f3ff;
  --color-bg-2: #d6eadcff;
  --color-bg-3: #bbddc3ff;
  --color-bg-4: #9fd0a9ff;
  --color-border-1: #3a7d44ff;
  --color-border-2: #1a381eff;
  /*--color-item-0: #fff;*/
  /*--color-item-1: #f2f8f3ff;*/
  /*--color-item-2: #9fd0a9ff;*/
  --color-item-3: #3a7d44ff;
  --color-item-4: #1a381eff;
  /*--color-text-1: #000;*/
  /*--color-text-2: #3a7d44ff;*/
  /*--color-text-3: #1a381eff;*/

  /*--ownColor0: #f2f8f3ff;*/
  /*--ownColor1: #d6eadcff;*/
  /*--ownColor2: #bbddc3ff;*/
  /*--ownColor3: #9fd0a9ff;*/
  /*--ownColor4: #3a7d44ff;*/
  /*--ownColor5: #27542dff;*/
  /*--ownColor6: #1a381eff;*/
  /*--textColor1: #000000;  */
}

html{
  background-color: var(--color-bg-4);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{  
  background-color: var(--color-bg-2);
}

.btn-basic{
  border: 1px solid var(--color-border-1);
  border-radius:  5px;
  background-color:  var(--color-item-3);
  color:  white;
}
.btn-basic:focus{
  border: 1px solid var(--color-border-1);
  background-color:  var(--color-item-3);
  box-shadow: 0px 0px 0px 0px var(--color-border-1);

  color:  white;
}
.btn-basic:hover{
  border: 1px solid var(--color-border-1);
  background-color:  var(--color-item-4);
  color:  white;
}
.btn-basic:active{
  box-shadow: 0px 0px 1px 1px var(--color-border-1);
}
.navbar{
  background-color: var(--color-bg-4);
  border-bottom: 10px solid var(--color-border-2);
  font-family: 'Montserrat', sans-serif;
  padding:  5px 0px 5px 0px;  
}

.navbar-brand{
  font-size: 2.5em;
  font-weight: 900;
  text-transform: uppercase;
}

.dropdown-menu{
  border-radius: 10px;
  border:  2px solid var(--color-border-2);
  background:  var(--color-bg-4);
}

.dropdown-item{
  /*background: red;*/
}

.dropdown-item:hover{
  /*background: red;*/
}

#content{
  /*border-top: 2px solid black;
  margin-top: 90px;*/
  padding-top: 90px;
}

.article-summary{
  height:  400px;
  margin-bottom:  30px;
  overflow-y: hidden;
}

.article-summary img{
  border: 3px solid var(--color-border-1);
  border-radius: 10px;
}

footer{
  border-top: 10px solid var(--color-border-2);
  background-color: var(--color-bg-4);
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0px;
  text-align: center;
}

h2{
  text-align: center;
}

.box{
  background: var(--color-bg-1);
  border: 3px solid var(--color-border-1);
  border-radius: 10px;
  display: block;
  margin: auto;   
}